@model IEnumerable<personapi_dotnet.Models.Persona>

@{
    ViewData["Title"] = "Lista de Personas";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear nueva persona</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>CC</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Género</th>
            <th>Edad</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Cc</td>
            <td>@item.Nombre</td>
            <td>@item.Apellido</td>
            <td>@item.Genero</td>
            <td>@item.Edad</td>
            <td>
                <a class="btn btn-sm btn-info"   asp-action="Details" asp-route-id="@item.Cc">Ver</a>
                <a class="btn btn-sm btn-warning" asp-action="Edit"    asp-route-id="@item.Cc">Editar</a>
                <a class="btn btn-sm btn-danger"  asp-action="Delete"  asp-route-id="@item.Cc">Eliminar</a>
            </td>
        </tr>
    }
    </tbody>
</table>
