@model IEnumerable<personapi_dotnet.Models.Telefono>

@{
    ViewData["Title"] = "Lista de Teléfonos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear nueva persona</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Numero</th>
            <th>Persona</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Numero</td>
                <td>@item.PersonaId</td>
                <td>@item.tipo</td>
                <td>
                    <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">Ver</a>
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id=@item.Id>Editar</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
