@model IEnumerable<personapi_dotnet.Models.Telefono>

@{
    ViewData["Title"] = "Lista de Teléfonos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear nuevo teléfono</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Número</th>
            <th>Operadora</th>
            <th>Duenio CC</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Num</td>
            <td>@item.Oper</td>
            <td>@item.Duenio</td>
            <td>
                <a class="btn btn-sm btn-info"
                   asp-action="Details"
                   asp-route-id="@item.Num">Ver</a>
                <a class="btn btn-sm btn-warning"
                   asp-action="Edit"
                   asp-route-id="@item.Num">Editar</a>
                <a class="btn btn-sm btn-danger"
                   asp-action="Delete"
                   asp-route-id="@item.Num">Eliminar</a>
            </td>
        </tr>
    }
    </tbody>
</table>
